/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(129, 10, 10);
    box-sizing: border-box;
    font-family: 'Alegreya';
}

body {
    background-color: #faeeee;
    padding: 10px;
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/* Navigation */
nav {
    height: 60px;
    background-color: #faeeee;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1000;
    max-width: 100%;
    margin: 0 auto; 
    padding-left: 400px;
}


nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: rgb(129, 10, 10);
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(129, 10, 10);
    color: white;
}

nav svg {
    fill: rgb(129, 10, 10);
}

/* Sidebar */
#sidebar {
    display: none;
}

.open-sidebar, .close-sidebar {
    padding: 0 20px;
    display: none;
}

/* Links */
.links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Main Content */
.con {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fbc9c9;
    width: 100%;
    max-width: 500px;
}

h5 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(158, 8, 8);
    padding-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(129, 10, 10);
}

input, textarea {
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(129, 10, 10);
    color: #faeeee;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4c0404;
    color: #faeeee;
}

.cont {
    text-align: center;
    border: #333;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: #f9cfcf;
}

footer, .copyright {
    background-color: #f9cfcf;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.pic img {
    border-radius: 100%;
}

img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.cont svg:hover, .cont img:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.cont h3 {
    font-size: 25px;
}

#home h1 {
    padding: 30px;
    text-align: center;
    font-size: 50px;
}

#home p {
    font-size: 20px;
    text-align: center;
    color: rgb(128, 70, 70);
    padding-top: 20px;
    line-height: 1.5rem;
    width: 600px;
    margin: 0 auto;
}

#about {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 15px;
    background-color: #f9cfcf;
}

#about p {
    text-align: center;
    display: block;
    margin: 10px 0;
    line-height: 1.3em;
    font-size: 18px;
    padding: 0 20px;
    width: 600px;
    margin: 0 auto;
}

#cv {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 4px #fbc9c9;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
}

#cv:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#projects {
    padding: 20px;
    text-align: center;
    margin-top: 15px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 4px #fbc9c9;
    color: #fff;
    text-align: left;
    text-decoration: 0;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
}

.card p {
    font-size: 18px;
    margin: 4px 0;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

#skills {
    text-align: center;
    background-color: #f9cfcf;
    padding-bottom: 30px;
}

.skill-item {
    display: inline-block; 
    text-align: center; 
    margin: 20px; 
}

.skill-item img {
    display: block; 
    margin: 0 auto; 
}

.skill-item span {
    display: block;
    margin-top: 10px; 
    font-size: 16px; 
}

.info {
    font-size: 18px;
    text-align: center;
    color: rgb(128, 70, 70);
    padding-top: 20px;
    line-height: 1.5em; 
}

.info p {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.repos {
    text-align: center;
    padding-bottom: 20px;
}

.info h5 {
    padding-top: 30px;
}

h2 {
    text-align: center;
}

.info a {
    font-size: 18px;
    text-align: center;
}

/* Responsiveness */
@media (max-width: 768px) {
    .links {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 60px; 
        left: -100%;
        z-index: 10;
        width: 20%;
        background-color: #f9cfcf;
        transition: left 0.75s ease-out; 
        height: calc(100% - 60px);
        padding-top: 20px;
    }
    nav {
        justify-content: space-between; 
        padding: 0 20px;
        background-color: #faeeee;
        display: flex;
        align-items: center; 
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px;
        justify-content: flex-start;
    }
    .open-sidebar {
        display: inline-block;
        cursor: pointer;
    }
    #sidebar:checked ~ .links {
        left: 0;
    }
    #sidebar:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    #cv {
        margin: 20px auto;
        text-align: center;
        text-decoration: none;
    }
    #con input {
        max-width: 80px;
    }
    .info img {
       padding-left: 80px;
    }
    .card {
        margin: 0, 10px;
    }
}

@media (max-width: 320px) {
    #home p{
        max-width: 100%;
    }
    #about p {
        margin-top: 0;
        padding: 0;
        max-width: 100%;
    }
    .card {
        padding: 5px;
        width: 100%;
        max-width: 100%;
    }
    nav {
        width: 100%;
        max-width: 100%;
    }
    nav a {
        padding: 10px; 
    }
    .links {
        padding-top: 20px; 
        width: 25%;
    }
    #cont {
        padding-top: 10px;
        padding: 0;
    }
    .pic {
        padding-top: 75px;
    }
    #home h1{
        padding-top: 5px;
    }
    .info img, p {
        width: 100%;
        max-width: 100%;
    }
    footer {
        max-width: 100%;
    }
    #projects {
        padding: 10px;
    }
    .info img{
        padding: 20px;
    }
    #contact {
        padding: 10px;
    }
}
